.list-users {
    display    : flex;
    gap        : 30px;
    padding-top: 30px;
    height     : 296px;

    .detail-user {
        border       : 1px dashed;
        padding      : 10px;
        border-radius: 5px;
        min-width    : 260px;

        .user-image {
            width          : 260px;
            height         : 200px;
            display        : flex;
            justify-content: center;
            align-items    : center;

            img {
                object-fit: cover;
                max-width : 260px;
                max-height: 200px;
            }

        }

        .user-btn {
            display        : flex;
            justify-content: center;
            align-items    : center;
        }
    }
}